{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>NameCategory</th>
                <td>{{ category.nameCategory }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Liste des modules</h2>

    {% if category.courses | length > 0 %}
        <ul class="list-group list-group-flush">
        {% for course in category.courses %}
        <li class="list-group-item"><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.nameCourse }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>il n'y a aucun module défini dans cette catégorie</p>
    {% endif %}

    <a href="{{ path('app_category_index') }}">back to list</a>

    <a class="btn btn-outline-primary" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
