{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Début de la session</th>
                <th>Fin de la session</th>
                <th>nombre de place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.dateBeginSession ? session.dateBeginSession|date('d-m-Y') : '' }}</td>
                <td>{{ session.dateEndSession ? session.dateEndSession|date('d-m-Y') : '' }}</td>
                <td>{{ session.nbMaxSession }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_session_show', {'id': session.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_new') }}">Create new</a>
{% endblock %}
