{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la formation</th>
                <td>{{ session.training.nameTraining }}</td>
            </tr>
            <tr>
                <th>Début de la session</th>
                <td>{{ session.dateBeginSession ? session.dateBeginSession|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de la session</th>
                <td>{{ session.dateEndSession ? session.dateEndSession|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ session.nbMaxSession }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Programme de la session</h2>

    {% if session.programms | length > 0 %}
        <ul>
        {% for programm in session.programms %}
        <li><a href="{{ path('app_course_show', {'id': programm.course.id}) }}">{{ programm.course.nameCourse }}</a> pendant {{ programm.nbDay }} jours</li>
        {% endfor %}
        </ul>
    {% else %}
    <p>Il n'y a pas encore de programme définie</p>
    {% endif %}

    <a href="{{ path('app_session_index') }}">back to list</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
