{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la formation</th>
                <td>{{ session.training.nameTraining }}</td>
            </tr>
            <tr>
                <th>Début de la session</th>
                <td>{{ session.dateBeginSession ? session.dateBeginSession|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de la session</th>
                <td>{{ session.dateEndSession ? session.dateEndSession|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ session.nbMaxSession }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Programme de la session</h2>

    {% if session.programms | length > 0 %}
        <ul class="list-group list-group-flush">
        {% for programm in session.programms %}
        <li class="list-group-item"><a href="{{ path('app_course_show', {'id': programm.course.id}) }}">{{ programm.course.nameCourse }}</a> pendant {{ programm.nbDay }} jours</li>
        {% endfor %}
        </ul>
    {% else %}
    <p>Il n'y a pas encore de programme définie</p>
    {% endif %}

    <h2>Liste des stagiaires inscrits</h2>
    {% if session.trainees | length > 0 %}
        <ul class="list-group list-group-horizontal">
        {% for trainee in session.trainees %}
            {{ trainee.firstNameTrainee }} {{ trainee.lastNameTrainee }} 
            <a class="btn btn-primary btn-sm m-2" href="{{ path('unsubscribeTrainee', { 'idSession' : session.id, 'idTrainee' : trainee.id }) }}">Désinscrire</a>
        {% endfor %}
        </ul>
    {% else %}
    <p>Il n'a aucun stagiaires inscrits à cette session</p>
    {% endif %}

    <h2>Liste des stagaires non inscrits</h2>
    <ul class="list-group list-group-horizontal">
        {% for trainee in unsubscribedTrainee %}
            {{ trainee.firstNameTrainee }} {{ trainee.lastNameTrainee }}
            {% if (session.nbMaxSession) - (session.trainees | length) > 0 %}
                <a class="btn btn-success btn-sm m-2" href="{{ path('subsribeTrainee', {  'idSession' : session.id , 'idTrainee' : trainee.id}) }}">Inscrire</a>
            {% endif %} 
            {% else %}
            <p>Inscription impossible</p>
        {% endfor %}
        </ul>
    

    <a href="{{ path('app_session_index') }}">Liste des sessions</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
